<!DOCTYPE html>
<html>
  <head>
    <title>Tweet Scale</title>
  </head>

  <body>
    <h1><a href="/">Tweet Scale</a></h1>

    <p>We are searching users who have had tweets pulled off the firehose.</p>

    <form action="/search" method="get">
      <label for="user">user</label>
      <input type="text" id="user" name="user" />

      <p>Try "testeroftests"</p>

      <input type="submit" value="Search for a user" />
    </form>
  </body>
</html>
